
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Memorybucket</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Signup</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

      </ul>
    </div>
  </div>
</nav>


<div style="background:transparent !important" class="jumbotron text-center" id="communityFotos">

<h1>Memory Bucket</h1>
<h4>Store and share your memories in our photo community</h4>
</div>


<div class="indexPics">
<img style="border:1px solid gray;width:280px;height:270px;" src="/images/cep-7.jpg">
<img style="border:1px solid gray;width:280px;height:270px;" src="/images/bridges.jpg">
<img style="border:1px solid gray;width:280px;height:270px;" src="/images/large.jpg">
<img style="border:1px solid gray;width:280px;height:270px;" src="/images/people.jpeg">
</div>
