<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/userpublic">MemoryBucket</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Photos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">My Bucket </a></li>
        <li><a href="/logout">Logout </a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h2>add new photo</h2>

<div class="jumbotron container-fluid">
<form method="post" action="/signup">

  <div class="form-group">
    <label for="photo_url">photo upload</label>
    <input class="form-control" type="text" name="photo_url" id="photo_url">
  </div>


  <div class="form-group">
    <label for="caption">Caption</label>
    <input class="form-control" type="text" name="caption" id="caption">
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input class="form-control" type="text" name="category" id="category">
  </div>

  <div class="form-group">
    <label for="view_option">Public View</label>
    <input class="form-control" type="text" name="view_option" id="view_option">
  </div>

  <input class="btn btn-default" type="submit" value="post photo">
</form>
</div>
