<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/userpublic">Memorybucket</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-picture"></span> Photos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">General</a></li>
            <li><a href="#">Places</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Random</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Bucket </a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>

      </ul>
    </div>
  </div>
</nav>


<h2>Photo content</h2>
<h4>photo url</h4>
<h4>photo category</h4>
<h4>photo owner/user</h4>
<h4>delete photo option</h4>
<h4>view photo option</h4>
<h4>view photo comment</h4>
<h4>insert photo comment</h4>
